/* style.css */
body {
    font-family: sans-serif;
    margin: 20px;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row {
    flex: 1;
    flex-wrap: nowrap;
}

.forecast-button {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.forecast-frame {
    display: flex;
    justify-content: center;
}

.border-frame {
    display: flex;
    flex-direction: column;
}

#config-panel {
    width: 80%; /* Adjust as needed */
    max-width: 800px; /* Set a maximum width */
    margin: 20px auto; /* Center horizontally */
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 5px;
}

.checkbox-container {
    display: flex; /* Use flexbox to align checkbox and label */
    align-items: center; /* Vertically align checkbox and label */
    margin: .4em; /* Add some spacing between checkboxes */
}

.checkbox-container label {
    margin-left: 5px; /* Add spacing between checkbox and label */
}

.collapsible {
    display: flex;
    background-color: #f5f5f5;
    color: #444;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.5em;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    justify-content: space-between;
}

.active, .collapsible:hover {
    background-color: #eee;
}

.content {
    padding: 0 18px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: white;
    float: right;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.form-group {
    margin: .3em;
}

label {
    display: block; /* Makes labels stack nicely */
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}